.css_ndoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ndoc_grid_line {vertical-align: top;text-align: left;}
.css_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tercero_grid_line {vertical-align: top;text-align: left;}
.css_nombre_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_nombre_grid_line {text-align: left;}
.css_numero_fe_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_fe_grid_line {vertical-align: top;text-align: left;}
.css_id_cloud_kardex_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_cloud_kardex_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: top;text-align: left;}
.css_numero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_cufe_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cufe_grid_line {vertical-align: top;text-align: left;}
