.css_facturas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_facturas_grid_line {text-align: center;}
.css_notas_credito_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_notas_credito_grid_line {text-align: center;}
.css_configuracion_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_configuracion_grid_line {text-align: center;}
.css_copias_bd_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_copias_bd_grid_line {text-align: center;}
.css_envio_masivo_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_envio_masivo_grid_line {text-align: center;}
.css_inicial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_inicial_grid_line {vertical-align: top;text-align: right;}
