.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_anofis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_anofis_grid_line {vertical-align: top;text-align: left;}
.css_archivo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_archivo_grid_line {vertical-align: top;text-align: left;}
.css_empresaid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_empresaid_grid_line {vertical-align: top;text-align: right;}
.css_nit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nit_grid_line {vertical-align: top;text-align: left;}
.css_repres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_repres_grid_line {vertical-align: top;text-align: left;}
