.css_natjuridica_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_natjuridica_grid_line {vertical-align: top;text-align: right;}
.css_nit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nit_grid_line {vertical-align: top;text-align: right;}
.css_tipodociden_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipodociden_grid_line {vertical-align: top;text-align: right;}
.css_nittri_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nittri_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_direcc1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direcc1_grid_line {vertical-align: top;text-align: right;}
.css_telef1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telef1_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_terid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_terid_grid_line {vertical-align: top;text-align: right;}
.css_ciudadrexp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ciudadrexp_grid_line {vertical-align: top;text-align: right;}
