.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: left;}
.css_nit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nit_grid_line {vertical-align: top;text-align: left;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_valido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valido_grid_line {vertical-align: top;text-align: left;}
