ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#ffffff;border-width:1px;border-style:solid;border-color:#f7f7f7 #eaeaea #d2d2d2 #eaeaea;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu1 ul{
	display:none;position:absolute;right:0;top:97%;-moz-box-shadow:4.9px 4.9px 3px #333;-webkit-box-shadow:4.9px 4.9px 3px #333;box-shadow:4.9px 4.9px 3px #333;background-color:#ffffff;border-width:0;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);padding:6px 0;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:right;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;right:100%;top:-1px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:4.9px 4.9px 7px #333;-webkit-box-shadow:4.9px 4.9px 7px #333;box-shadow:4.9px 4.9px 7px #333;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 6px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:right;text-decoration:none;font-family:Arial;font-size:15px;font-weight:normal;font-style:none;color:#5b5c5c;cursor:pointer;padding:16px;background-color:#ffffff;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));   background-image:linear-gradient(180deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));background-repeat:repeat;background-position:0 0;border-width:0;border-style:solid;border-color:#C0C0C0;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000)}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:right;padding:4px;background-color:#ffffff;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Arial;font-size:13px;font-weight:bold;font-style:none;color:#5b5c5c;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#ffffff;border-color:#C0C0C0;border-style:solid;color:#663399;background-image:-o-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0)); background-image:-moz-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0));   background-image:linear-gradient(180deg,rgba(109,183,255,1),rgba(0,121,217,0));  background-image:-webkit-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0));background-position:0 100%;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF6DB7FF,endColorstr=#000079D9)}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:left center;background-repeat:no-repeat;padding-left:0px;}
ul#css3menu1 ul span{
	background-image:url('../../img/theme_menu_arrowsub_6.png');padding-left:12px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#ffffff;background-image:none;color:#339900;text-decoration:underline;}
ul#css3menu1 li.topmenu>a{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#990000 !important;
}
.scdisabledsub{
 color:#990000 !important;
}
.scMenuHTableCssAlt{
 
}
