ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#F2F2F2;background-image:url("/scriptcase/devel/conf/usr/admin/img/menu_img/applemenu.png");}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;background-color:#FFFFFF;background-image:none;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-decoration:none;font-style:none;font-size:14px;font-family:Verdana, Arial, sans-serif;color:#1A1A1A;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:10px;background-image:url("/scriptcase/devel/conf/usr/admin/img/menu_img/applemenu.png");background-color:#F2F2F2;}
ul#css3menu1 ul li{
	float:none;background-color:#F3F7FB !important;padding-left: 16px;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#FFFFFF;background-image:none;font-style:none;font-size:15px;font-family:Arial, Arial, sans-serif;color:#4A4A4A;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#727272;color:#FFFFFF;text-shadow:#FFF 0 0 1px;background-image:none;background-position:0 100px;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;background-image:url('../../img/arrow_in_new.gif');padding-right:28px;}
ul#css3menu1 ul span{
	background-image:url('../../img/arrow_out_new.gif');padding-right:28px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#ECEBEB;background-image:none;color:#333333;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	}
ul#css3menu1 li.toplast>a{
	}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#9a9a9a !important;
}
.scdisabledsub{
 color:#8a8a8a !important;
}
.scMenuHTableCssAlt{
 
}
