.css_id_copia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_copia_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_nombre_archivo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_archivo_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_subida_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subida_grid_line {vertical-align: top;text-align: right;}
.css_imagen_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_imagen_grid_line {text-align: center;}
.css_borrar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_borrar_grid_line {text-align: center;}
