.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_municipio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_municipio_grid_line {vertical-align: top;text-align: left;}
.css_idmun_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idmun_grid_line {vertical-align: top;text-align: right;}
.css_iddepar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddepar_grid_line {vertical-align: top;text-align: right;}
.css_codigo_dep_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_dep_grid_line {vertical-align: top;text-align: left;}
.css_codigo_mu_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_mu_grid_line {vertical-align: top;text-align: left;}
