.css_idmuni_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idmuni_grid_line {vertical-align: top;text-align: right;}
.css_codigo_postal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_postal_grid_line {vertical-align: top;text-align: right;}
.css_limite_norte_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_limite_norte_grid_line {vertical-align: top;text-align: right;}
.css_limite_sur_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_limite_sur_grid_line {vertical-align: top;text-align: right;}
.css_limite_este_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_limite_este_grid_line {vertical-align: top;text-align: right;}
.css_limite_oeste_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_limite_oeste_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_barrios_contenidos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_barrios_contenidos_grid_line {vertical-align: top;text-align: right;}
