.css_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_resolucion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_resolucion_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_inicial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_inicial_grid_line {vertical-align: top;text-align: right;}
.css_final_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_final_grid_line {vertical-align: top;text-align: right;}
.css_vigencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vigencia_grid_line {vertical-align: top;text-align: right;}
.css_tipo_resolucion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_resolucion_grid_line {vertical-align: top;text-align: right;}
.css_activa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activa_grid_line {vertical-align: top;text-align: right;}
.css_id_prefijo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_prefijo_grid_line {vertical-align: top;text-align: right;}
.css_id_empresa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_empresa_grid_line {vertical-align: top;text-align: right;}
.css_cod_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_prefijo_grid_line {vertical-align: top;text-align: right;}
.css_prefijo_prueba_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_prueba_grid_line {vertical-align: top;text-align: right;}
